<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=LIPDUBTRAVELL</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="duchan/entity/Banner.hbm.xml"/>
    <mapping resource="duchan/entity/Hotel.hbm.xml"/>
    <mapping resource="duchan/entity/Setting.hbm.xml"/>
    <mapping resource="duchan/entity/Comment.hbm.xml"/>
    <mapping resource="duchan/entity/Servicee.hbm.xml"/>
    <mapping resource="duchan/entity/HotelService.hbm.xml"/>
    <mapping resource="duchan/entity/Blog.hbm.xml"/>
    <mapping resource="duchan/entity/Userr.hbm.xml"/>
    <mapping resource="duchan/entity/OrderHotel.hbm.xml"/>
    <mapping resource="duchan/entity/Orderr.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
